nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
}

.nav-logo img {
    width: 100px;
}

.new-ToDo button{
    font-size: 14px;
    background-color: transparent;
    padding: 6px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 4px 4px 0px 0px black;
    cursor: pointer;
}

.new-ToDo button:hover {

    box-shadow: 2px 2px 0px 0px black;
}

main{
    padding: 24px 40px;
}

.to-do{
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.to-do-title{
    font-size: 14px;
    font-weight: 500;
    
}