nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
}

nav img {
    width: 100px;
}

#nav-items button {
    font-size: 14px;
    background-color: transparent;
    padding: 12px 6px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 4px 4px 0px 0px black;
}

#nav-items button a {
    text-decoration: none;
    color: black;
}

#nav-items button a:visited {
    color: black;
}

#nav-items button:hover {
    box-shadow: 2px 2px 0px 0px black;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

article {
    text-align: center;
    max-width: 600px;
}

article h1 {
    font-size: 20pt;
    margin: 12px;
}

article div {
    text-align: justify;
}

.image-container img {
    width: 98%;
}

#utilities {
    text-align: center;
    margin-top: 180px;
}

.utilities-container {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0000005f;
    transition: 0.5s;
    cursor: pointer;
}

.utility:hover {
    color: black;
}

.utility-title {
    font-size: 14pt;
    font-weight: 500;
}

svg {
    transition: 0.5s;
}

#utilities img {
    width: 40em;
    max-width: 98%;
}

#cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.info-card {
    padding: 24px;
    max-width: 400px;
    border-radius: 12px;
    background: #ffffff;
    transition: 0.5s;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.info-card:hover {
    box-shadow: 0px 0px 0px 0px #ffffff;
}

@media screen and (max-width: 562px) {
    .utilities-container {
        gap: 40px;
    }
}